USE [master]
GO
/****** Object:  Database [QuanLy]    Script Date: 6/1/2020 10:26:50 PM ******/
CREATE DATABASE [QuanLy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLy.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLy]
GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChucNang](
	[MaChucNang] [varchar](50) NOT NULL,
	[TenChucNang] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucNang] PRIMARY KEY CLUSTERED 
(
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [bigint] NOT NULL,
	[MaSP] [bigint] NOT NULL,
	[TenSP] [nvarchar](200) NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [money] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [bigint] IDENTITY(1,1) NOT NULL,
	[TongSL] [int] NULL,
	[TongTien] [money] NULL,
	[NgayBan] [datetime] NOT NULL,
	[MaNV] [bigint] NULL,
	[MaKH] [bigint] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[SoCMND] [char](12) NULL,
	[SoDT] [char](10) NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Email] [nvarchar](200) NULL,
	[Facebook] [nvarchar](200) NULL,
	[NgayDangKi] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSP] [bigint] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [bigint] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](200) NULL,
	[SoDT] [char](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [nvarchar](200) NULL,
	[MaThue] [char](10) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [bigint] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NOT NULL,
	[SoCMND] [char](12) NULL,
	[SoDT] [char](10) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[MucLuong] [money] NULL,
	[Email] [nvarchar](200) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NgayThamGia] [datetime] NOT NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[MaVaiTro] [varchar](20) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNCC] [bigint] NULL,
	[MaLoaiSP] [bigint] NULL,
	[TenSP] [nvarchar](200) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[ThuongHieu] [nvarchar](200) NULL,
	[GiaNhap] [money] NULL,
	[GiaBan] [money] NULL,
	[Mota] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
	[NgayThem] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[GiamGia] [float] NOT NULL CONSTRAINT [DF_SanPham_GiamGia]  DEFAULT ((0)),
	[GiaMoi] [money] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [varchar](20) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VaiTro_ChucNang]    Script Date: 6/1/2020 10:26:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VaiTro_ChucNang](
	[MaVaiTro] [varchar](20) NOT NULL,
	[MaChucNang] [varchar](50) NOT NULL,
	[GhiChu] [ntext] NULL,
 CONSTRAINT [PK_VaiTro_ChucNang_1] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC,
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang]) VALUES (N'Xem_NhaCungCap', N'Xem nhà cung cấp')
INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang]) VALUES (N'Xem_NhanVien', N'Xem danh sách Nhân viên')
INSERT [dbo].[ChucNang] ([MaChucNang], [TenChucNang]) VALUES (N'Xem_PhanLoai', N'Xem phân loại')
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [TenSP], [SoLuong], [GiaBan]) VALUES (121, 65, N'Tráng miệng tuyệt hảo với Bánh Mousse Socola', 1, 17000.0000)
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [TenSP], [SoLuong], [GiaBan]) VALUES (121, 66, N'Temaki Onigiri Thịt Nguội Mayo thơm ngon chắc bụng', 1, 14000.0000)
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [TenSP], [SoLuong], [GiaBan]) VALUES (121, 68, N'Thực đơn lành mạnh với Salad gà karaage ngũ sắc ngon miệng, bắt mắt', 2, 20000.0000)
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [TongSL], [TongTien], [NgayBan], [MaNV], [MaKH]) VALUES (121, 5, 96000.0000, CAST(N'2020-05-30 21:42:20.897' AS DateTime), 14, 20)
INSERT [dbo].[HoaDon] ([MaHD], [TongSL], [TongTien], [NgayBan], [MaNV], [MaKH]) VALUES (122, 2, 25000.0000, CAST(N'2020-05-30 21:42:58.643' AS DateTime), 14, 23)
INSERT [dbo].[HoaDon] ([MaHD], [TongSL], [TongTien], [NgayBan], [MaNV], [MaKH]) VALUES (123, 42, 581000.0000, CAST(N'2020-05-30 21:44:09.807' AS DateTime), 14, 25)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [SoDT], [NgaySinh], [DiaChi], [GioiTinh], [Email], [Facebook], [NgayDangKi], [GhiChu]) VALUES (20, N'Lê Đức Tâm', N'0921387472  ', N'0972668798', CAST(N'2005-06-22' AS Date), N'Củ Chi ', N'Nam', N'levantam24121998@gmail.com', NULL, CAST(N'2020-05-30 21:10:24.367' AS DateTime), NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [SoDT], [NgaySinh], [DiaChi], [GioiTinh], [Email], [Facebook], [NgayDangKi], [GhiChu]) VALUES (22, N'Vũ Quốc Huy', N'028473829   ', N'097382918 ', CAST(N'2012-02-10' AS Date), N'Bình Thạnh ', N'Nam', N'vuquochuyz99@gmail.com', N'Quốc Huy', CAST(N'2020-05-30 21:24:28.190' AS DateTime), N'Khách hàng mới')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [SoDT], [NgaySinh], [DiaChi], [GioiTinh], [Email], [Facebook], [NgayDangKi], [GhiChu]) VALUES (23, N'Lê Tấn Tồn', N'0283928390  ', N'0982710982', CAST(N'1997-06-20' AS Date), N'Lê Quang Sung, F6, Phường 6, Quận 6', N'Nam', N'quangsung@gmail.com', N'QuangSung', CAST(N'2020-05-30 21:35:42.177' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoai]) VALUES (10020, N'Tráng miệng')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoai]) VALUES (10021, N'Thức ăn nhanh')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoai]) VALUES (10022, N'Oden')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDT], [DiaChi], [Email], [MaThue], [GhiChu]) VALUES (18, N'Công Ty Ajinomoto Việt Nam', N'0283930192', N'03-05 Le Thanh Ton St,Dist 1, Ho Chi Minh City ', N'AjinomotoVN@gmail.com', N'8821667821', N'ó mặt tại Việt Nam từ năm 1991, Ajinomoto Việt Nam là một nhánh của Ajinomoto Nhật Bản, chuyên về các mặt hàng như bột nêm gia vị, giấm, nước sốt mayonnaise, nước giải khát. Các thương hiệu nổi tiếng của Ajinomoto Việt Nam có thể kể đến như: bột ngọt Ajinomoto, nước sốt mayonnaise Ajinomoto, cà phê Birdy, bột nêm Knorr…
 ')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDT], [DiaChi], [Email], [MaThue], [GhiChu]) VALUES (19, N'Công ty Kewpie Vietnam', N'0283920978', N'11 VSIP II-A, Đường số 14, Khu công nghiệp Việt Nam – Singapore II-A, Huyện Tân Uyên, Tỉnh Bình Dương, Việt Nam ', N'KewpieVN@gmail.com', N'8821667110', N'Kewpie Việt Nam là chi nhánh thứ 7 của Kewpie Nhật Bản trên thế giới, công ty chuyên về sản xuất nước sốt mayonnaise. Với bí quyết từ Nhật Bản, công ty cung cấp cho người tiêu dùng Việt các sản phẩm sốt Mayonnaise với hương vị, mẫu mã khác nhau.')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [HinhAnh], [GioiTinh], [NgaySinh], [SoCMND], [SoDT], [ChucVu], [MucLuong], [Email], [DiaChi], [GhiChu], [NgayThamGia], [TaiKhoan], [MatKhau], [MaVaiTro]) VALUES (13, N'Vũ Quốc Huy', N'VuQuocHuy.jpg', N'Nam', CAST(N'1999-03-17' AS Date), N'036099008132', N'0828365961', N'Quản Lý', 999999.0000, N'vuquochuyz99@gmail.com', N'Thủ Đức', NULL, CAST(N'2020-05-28 00:00:00.000' AS DateTime), N'admin', N'c4ca4238a0b923820dcc509a6f75849b', N'ADMIN')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [HinhAnh], [GioiTinh], [NgaySinh], [SoCMND], [SoDT], [ChucVu], [MucLuong], [Email], [DiaChi], [GhiChu], [NgayThamGia], [TaiKhoan], [MatKhau], [MaVaiTro]) VALUES (14, N'Lê Văn Tâm', N'anhnv1.jpg', N'Nam', CAST(N'2019-01-15' AS Date), N'1278938991  ', N'0976918917', N'Nhân viên', 5000000.0000, N'tamle.dev@gmail.com', N'Hóc Môn', NULL, CAST(N'2020-05-30 20:39:46.253' AS DateTime), N'tamle2412', N'aa711cd8dc60b5dace4a5fa7b4d54d56', N'ADMIN')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [HinhAnh], [GioiTinh], [NgaySinh], [SoCMND], [SoDT], [ChucVu], [MucLuong], [Email], [DiaChi], [GhiChu], [NgayThamGia], [TaiKhoan], [MatKhau], [MaVaiTro]) VALUES (15, N'Nguyễn Lê Anh Thư', N'anhnv2.jpg', N'Nữ', CAST(N'2001-01-15' AS Date), N'938201879   ', N'0972773889', N'Nhân Viên', 3500000.0000, N'anhthule@gmail.com', N'Bình Thạnh', NULL, CAST(N'2020-05-30 20:43:44.860' AS DateTime), N'anhthu0115', N'25f9e794323b453885f5181f1b624d0b', N'USER')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [MaNCC], [MaLoaiSP], [TenSP], [HinhAnh], [ThuongHieu], [GiaNhap], [GiaBan], [Mota], [SoLuong], [NgayThem], [NgayCapNhat], [GiamGia], [GiaMoi]) VALUES (17, 21, 10022, N'Thanh Cua Surimi (ODEN)', N'ThanhCuaSurimi.jpg', N'Thanh Cua', 4000.0000, 8000.0000, N'<p>MINISTOP đang sử dụng sản phẩm thanh cua c&oacute; m&agrave;u sắc đẹp mắt. M&oacute;n ăn n&agrave;y sẽ ngon hơn khi vị chua cay của nước s&uacute;p thấm đều v&agrave;o vị ngọt của c&aacute;.</p>
', 100, CAST(N'2020-05-30 19:43:32.627' AS DateTime), NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
INSERT [dbo].[VaiTro] ([MaVaiTro], [VaiTro]) VALUES (N'ADMIN', N'Quản lý')
INSERT [dbo].[VaiTro] ([MaVaiTro], [VaiTro]) VALUES (N'BLOCK', N'Tài khoản bị khóa')
INSERT [dbo].[VaiTro] ([MaVaiTro], [VaiTro]) VALUES (N'USER', N'Nhân viên')
INSERT [dbo].[VaiTro_ChucNang] ([MaVaiTro], [MaChucNang], [GhiChu]) VALUES (N'ADMIN', N'Xem_NhaCungCap', NULL)
INSERT [dbo].[VaiTro_ChucNang] ([MaVaiTro], [MaChucNang], [GhiChu]) VALUES (N'ADMIN', N'Xem_NhanVien', NULL)
INSERT [dbo].[VaiTro_ChucNang] ([MaVaiTro], [MaChucNang], [GhiChu]) VALUES (N'ADMIN', N'Xem_PhanLoai', NULL)
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_VaiTro1] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_VaiTro1]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[VaiTro_ChucNang]  WITH CHECK ADD  CONSTRAINT [FK_VaiTro_ChucNang_ChucNang] FOREIGN KEY([MaChucNang])
REFERENCES [dbo].[ChucNang] ([MaChucNang])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VaiTro_ChucNang] CHECK CONSTRAINT [FK_VaiTro_ChucNang_ChucNang]
GO
ALTER TABLE [dbo].[VaiTro_ChucNang]  WITH CHECK ADD  CONSTRAINT [FK_VaiTro_ChucNang_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VaiTro_ChucNang] CHECK CONSTRAINT [FK_VaiTro_ChucNang_VaiTro]
GO
USE [master]
GO
