@model Model.EF.KhachHang

@{
    Layout = null;
}


@using (Html.BeginForm("Xoa", "KhachHang", FormMethod.Post))
{
<div class="modal-header bg-navy">
    <h4 class="modal-title">Xóa khách hàng</h4>
</div>

    <div class="modal-body">
        <!-- form start -->
        @Html.AntiForgeryToken()        
        @Html.HiddenFor(model => model.MaKH)
        <h4>Bạn có chắc muốn xoá khách hàng này?</h4>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-lg bg-navy" >Xóa</button>
    </div>
}