@model Model.EF.LoaiSanPham

@{
    Layout = null;
}


@using (Html.BeginForm("Xoa", "LoaiSanPham", FormMethod.Post))
{
    <div class="modal-header bg-navy">
        <h4 class="modal-title">Xóa phân loại</h4>
    </div>

    <div class="modal-body">
        <!-- form start -->
        @Html.AntiForgeryToken()       
        @Html.HiddenFor(model=>model.MaLoaiSP)
        <h4>Bạn có chắc muốn xoá phân loại này?</h4>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-lg bg-navy">Xóa</button>
    </div>
}